/* common shared styled */

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif; 
}

/* nav related styles */

.text-primary{
    color: #FD6E0A;
}
.button-primary{
    border-radius: 5px;
    background: #FD6E0A; 
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    margin-right: 50px ;
    list-style: none;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* header realeted styles */

.header{
    background-color: #f8f3ff;   
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.profile-picture{
    width: 450px;
}
.banner-content{
    
}
